/* STYLE GERAL */

body {
    height: 2000px;
    position: relative;
    @include type-1(18px);
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul,li {
    list-style: none;
}
/* END STYLE GERAL */
