/* HEADER */
.header {
    position: fixed;
    width: 100%;
    

    &__menu {
        
        &__nav {

            ul {
                display: flex;
            }
        }
    }
}
/* END HEADER */