/* BANNER INTRO */
.intro {
    background-color: #1e266d;
    height: 800px;
    padding-top: 160px;

    @include device(s) {
        height: 1180px;
        padding-top: 120px;
    }

    .flex-group {
        display: flex;
        align-items: center;

        @include device(s) {
            flex-direction: column;
        }
    }

    &__block-title {
        @include device(s){
            margin-bottom: 40px;
        }

        &__sub-title{
            color: #23d3d3;
            font-weight: 600;
            margin-bottom: 20px;
            display: inline-block;
            letter-spacing: 2px;
            text-transform: uppercase;
            line-height: 17px;
            @include type-2(12);
        }

        h1 {
            color: #fff;
            font-weight: 600;
            margin-bottom: 20px;
            line-height: 48px;
            @include type-2(34);
        }

        &__text {
            color: #fff;
            font-weight: 400;
            line-height: 29px;
            @include type-2(16);
        }

        &__btn {
            display: inline-block;
            background-color: #23d3d3;
            color: #040e1a;
            border-radius: 50px;
            padding: 0px 30px;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: 600;
            margin: 20px 0;
            text-align: center;
            text-decoration: none;
            line-height: 40px;
            border: solid 1px #23d3d3;
            @include type-2(12);
        }

    }


    /* Form */

    &__content-form {
        background-color: #fff;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        
        
        #contactForm {
            padding: 35px;
            max-width: 400px;
            border-radius: 10px;
            margin: 0 auto;
        }

        input,textarea {
            border: none;
            border-bottom: 2px solid #6c757d;
            width: 100%;
            padding: 10px;

            &::-webkit-input-placeholder { 
                color: #6c757d; 
                font-weight: 500;
                @include type-2(18);
            }
        }

        label {
            color: #1e266d;
            display: inline-block;
            margin: 10px 0;
            font-weight: 600;
            line-height: 20px;
            @include type-2(12);

        }    

        .t {
            margin-bottom: 20px;
        }    
        
        .btnForm {
            font-weight: 600;
            display: block;
            width: 100%;
            margin: 40px auto;
            text-align: center;
            background-color: #1e266d;
            padding: 0px 40px;
            border: none;
            text-transform: uppercase;
            border-radius: 50px;
            color: #fff;
            line-height:40px; 
            letter-spacing: 2px;
            @include type-2(12);
        }

    }

    /* End Form */
}
/* END BANNER INTRO */

/* Differential */
.differential {
    padding: 100px 0;

    @include device(s) {
        padding-bottom: 60px;
    }

    &__block-title {
        margin-bottom: 20px;
        font-weight: 700;
        color: #2c3038;
        text-align: center;
        @include type-1(40);
    }

    &__block-text {
        font-weight: 500;
        color: #818198;
        line-height: 26px;
        text-align: center;
        margin-bottom: 40px;
        @include type-1(16);

        @include device(s) {
            margin-bottom: 60px;
            @include type-1(15);
        }
    }

/* Card 01 */
    &__card-first {
        display: flex;
        align-items: center;

        @include device(s) {
            flex-direction: column;
            margin-bottom: 80px;
        }        

        &__img-left {
            display: flex;
            align-self: center;
            justify-content: center;
            align-items: center;

            @include device(s) {
                order: 1;
            }
        }

        &__text-right { 
            text-align: left !important;

            @include device(s) {
                order: 0;
                width: 100%;
                text-align: center;
                display: block;                
                margin: 0 auto 40px auto;
            }

            &__icon {
                height: 45px;
                width: 45px;
                background-color: #1E266D;
                border-radius: 50px;
                border: solid 1px #1E266D;
                display: flex;
                align-items: center;
                margin-bottom: 25px;
                justify-content: center;
                color: #fff !important;

                @include device(s) {
                    margin: 0 auto 30px auto;
                }
            }

            &__title {
                color: #3a3a47;
                font-weight: 700;
                margin-bottom: 25px;
                @include type-1(24);

                @include device(s) {
                    text-align: center;
                }
            }

            &__text {
                font-weight: 500;
                color: #818198;
                margin-bottom: 15px;
                line-height: 26px;
                @include type-1(16);

                @include device(s) {
                    text-align: center;
                }
            }

            &__btn {
                display: inline-block;
                color: #8798ab;
                line-height: 14px;
                font-weight: 700;
                @include type-1(14);
                &:hover {
                    border-bottom: solid 2px #1e266d;
                }

                @include device(s) {
                    display: block;
                    text-align: center;
                }
            }
        }
    }
/* End Card 01 */

/* Card 02 */
    &__card-second {
        display: flex;
        align-items: center;

        @include device(s) {
            flex-direction: column;
        }

        &__img-left {
            display: flex;
            align-self: center;
            justify-content: center;
            align-items: center;

            @include device(s) {
                order: 1;
            }
        }

        &__text-right { 
            text-align: left !important;

            @include device(s) {
                order: 0;
                width: 100%;
                margin-bottom: 40px;
            }

            &__icon {
                height: 45px;
                width: 45px;
                background-color: #23D3D3;
                border-radius: 50px;
                border: solid 1px #23D3D3;
                display: flex;
                align-items: center;
                margin-bottom: 25px;
                justify-content: center;
                color: #fff !important;

                @include device(s) {
                    margin: 0 auto 30px auto;
                }
            }

            &__title {
                color: #3a3a47;
                font-weight: 700;
                margin-bottom: 25px;
                @include type-1(24);

                @include device(s) {
                    text-align: center;
                }
            }

            &__text {
                font-weight: 500;
                color: #818198;
                margin-bottom: 15px;
                line-height: 26px;
                @include type-1(16);

                @include device(s) {
                    text-align: center;
                    @include type-1(15);
                }
            }

            &__btn {
                display: inline-block;
                color: #8798ab;
                line-height: 14px;
                font-weight: 700;
                z-index: 1;
                @include type-1(14);
                &:hover {
                    border: none;
                    border-bottom: solid 1px #1e266d;
                    z-index: 10;
                }

                @include device(s) {
                    display: block;
                    text-align: center;
                }
            }
        }
    }
/* End Card 02 */


}
/* End Differential */

/* Call to action */
.cta {
    background-color: #F8F8F9;

    &__block-description {
        padding: 120px 0;

        @include device(s) {
            padding: 80px 0;
            text-align: center;
        }
        &__subTitle {
            color: #607d9c;
            font-weight: 700;
            line-height: 17px;
            margin-bottom: 20px;
            text-transform: uppercase;
            @include type-1(14);
        }

        &__title {
            color: #445555;
            font-weight: 700;
            margin-bottom: 20px;
            line-height: 42px;
            @include type-1(30);
        }

        &__text {
            font-weight: 400;
            color: rgba(0,0,0,.5);
            line-height: 27px;
            margin-bottom: 30px;
            @include type-1(16);

            @include device(s) {
                @include type-1(15);
            }
        }

        &__btn {
            display: inline-block;
            background-color: #1E266D;
            border-radius: 30px;
            padding: 2px 30px;
            color: #fff;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            line-height: 40px;
            @include type-1(12);
        }
    }
}
/* End Call to action */


/* Modules Services */
.modules {
    background-color: $color-default;
    padding: 120px 0;

    @include device(s) {
        padding: 80px 0;
    }

    .flex {
        align-items: center;
        display: flex;

        @include device(s) {
            flex-direction: column;
        }
    }

    &__block-content {
        max-width: 420px;

        &__title {
            font-weight: 700;
            line-height: 42px;
            margin-bottom: 15px;
            color: #fff;
            @include type-1(30);

            @include device(s){
                text-align: center;
            }
        }

        &__text {
            font-weight: 600;
            line-height: 26px;
            margin-bottom:3px;
            color: rgba(255,255,255,.7);
            @include type-1(16);

            @include device(s){
                text-align: center;
                @include type-1(15);
            }
        }

        &__btn {
            display: inline-block;
            background-color: #23d3d3;
            color: #040e1a;
            border-radius: 50px;
            padding: 0px 30px;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: 600;
            margin: 20px 0;
            text-align: center;
            text-decoration: none;
            line-height: 40px;
            border: solid 1px #23d3d3;
            @include type-2(12);

            @include device(s){
                text-align: center;
                margin: 0 auto;
                display: block;
                margin: 20px 60px 40px;
            }
        }
    }

    /* Item */
        &__services {
            display: flex;
            // flex: 0 0 568px;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;

            &__main {
            padding: 0;
            flex-basis: calc(50% - 24px);
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            flex-direction: column;
            padding: 32px;
            margin: 0;
            border: solid 1px rgba(255, 255, 255, 0.1);

            @include device(s) {
                flex-basis: unset;
                border: none;
            }
            

                &__flex-img {
                    height: 60px;
                    width: 60px;
                    margin-bottom: 20px;
                }
                &__flex-content {
                    h4 {
                        font-weight: 700;
                        color: rgba(255,255,255,.9);
                        line-height: 19px;
                        margin-bottom: 10px;
                        @include type-1(16);
                    }
        
                    p {
                        font-weight: 500;
                        color: rgba(255,255,255,.7);
                        line-height: 18px;
                        @include type-1(14);
                    }
                }
            
        }

    } 
    /* End Item*/
}
/* End Modules Services */


/* News */
.news {
    padding: 100px 0;
    text-align: left;
    background-color: #FAFAFA;

    @include device(s){
        padding: 80px 0;
    }

    &__content {
        display: flex;
        align-items: center;

        @include device(s){
            flex-direction: column;
            text-align: center;
        }

        &__subTitle {
            color: $color-subTitle;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1.3px;
            margin-bottom: 20px;
            line-height: 17px;
            @include type-1(11);
        }

        &__title {
            color: $color-title-secondary;
            font-weight: 700;
            margin-bottom: 20px;
            line-height: 42px;
            @include type-1(30);
        }

        &__text {
            color: rgba(0,0,0,.5);
            font-weight: 500;
            margin-bottom: 15px;
            line-height: 27px;
            @include type-1(18);
        }

        &__list {
            margin-bottom: 30px;
            &__item {
                color: rgba(0,0,0,.5);
                font-weight: 500;
                line-height: 22px;
                margin-bottom: 8px;
                @include type-1(16);

                span {
                    display: inline-block;
                    max-width: 100%;
                    position: relative;
                    top: -3px;
                    height: 15px;
                    width: 15px;
                }
            }
        }

        &__btn {
            font-weight: 700;
            text-transform: uppercase;
            background-color: $color-secondary;
            color: #040e1a;
            letter-spacing: 1.8px;
            padding: 16px 32px;
            border-radius: 50px;
            display: inline-block;
            @include type-1(12);

            @include device(s){
                margin-bottom: 60px;
            }
        }
    }

}
/* End News */

/* Blog */
.blog {
    text-align: center;
    padding: 100px 0;

    @include device(s){
        padding: 80px 0 40px;
    }

    &__block-content {
        margin: 0 auto !important;
        text-align: center !important;
        float: unset;

        &__title {
            font-weight:700;
            color: #2c3038;
            line-height: 40px; 
            margin-bottom: 20px;
            @include type-1(40);
        }   

        &__text {
            font-weight: 400;
            line-height: 30px;
            margin-bottom: 60px;
            color: #555a64;
            @include type-1(20);

            @include device(s){
                @include type-1(18);
            }
        }
    }

    &__card-group {

        &__item {
            @include device(s){
                margin-bottom: 60px;
            }

            &__img {
                img {
                    border-top-right-radius: 6px;
                    border-top-left-radius: 6px;
                }
            }

            &__block-content {
                padding: 30px 35px;
                text-align: left;
                border: solid 1px #eaedf2;
                border-bottom: none;

                &__title {
                   color: #2c3038;
                   font-weight: 700;
                   margin-bottom: 15px;
                   line-height: 34px;
                   @include type-1(25); 
                }

                &__text {
                    color: #555a64;
                    margin-bottom: 15px;
                    line-height: 24px;
                    font-weight: 600;
                    @include type-1(14);
                }

                &__btn {
                    color: #0f50d2;
                    display: block;
                    font-weight: 700;
                    line-height: 24px;
                    margin-bottom: 10px;
                    @include type-1(14);
                }

            }

            &__data {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: solid 1px #eaedf2;
                padding: 15px 35px;
                border-bottom-right-radius: 6px;
                border-bottom-left-radius: 6px;

                a {
                    display: inline-block;
                    color: #0f50d2;
                    font-weight: 700;
                    background-color: rgba(37,104,239,.1);
                    border-radius: 50px;
                    padding: 8px 15px;
                    @include type-1(12);
                }

                span {
                    font-weight: 600;
                    line-height: 20px;
                    color: rgba(85,90,100,.65);
                    @include type-1(12);
                }
            }

        }
    }
}
/* End Blog */

/* Cta Footer */
.cta-footer {
    padding: 100px 0;
    text-align: center;
    background-color: #1E266D;

    &__block {
        float: unset;
        margin: 0 auto;

        &__text {
            font-weight: 600;
            letter-spacing: 1.1px;
            margin-bottom: 25px;
            color: rgba(255, 255, 255, .8);
            @include type-1(16);
        }

        &__title {
            color: #fff;
            margin-bottom: 30px;
            font-weight: 500;
            line-height: 45px;
            @include type-1(30);
        }

        &__btn {
            display: inline-block;
            font-weight: 700;
            text-transform: uppercase;
            color: #040e1a;
            background-color: #23D3D3;
            border-radius: 50px;
            padding: 15px 30px;
            letter-spacing: 1.3px;
            @include type-1(12);
        }
    }
}
/* End Cta Footer */


/* Footer */
.footer {
    background-color: #1E266D;
    padding: 35px 0;
    color: #fff;
    border-top: solid 1px rgba(255, 255, 255, .1);

    &__block {
        display: flex;

        @include device(s){
            flex-direction: column;
        }

        .grid-4 {
            align-self: center;
        }

        &__logo {
            @include device(s){
                margin-bottom: 20px;
            }
        }

        &__listMenu {
            display: flex;
            justify-content: space-around;
            @include device(s){
                flex-direction: column;
                margin-bottom: 30px;
            }

            &__item {
                @include device(s){
                    padding: 7px 0;
                }
                a {
                    font-weight: 600;
                    padding: 10px;
                    text-transform: uppercase;
                    color: #fff;
                    @include type-1(14);

                    @include device(s){
                        padding: 0;
                    }

                }
            }

        }

        &__socialNetwork {
            display: flex;
            justify-content: flex-end;

            @include device(s){
                justify-content: flex-start;
            }

            li {
                a {
                    padding: 20px;
                    color: #fff;

                    @include device(s){
                        padding-right: 25px;
                        padding-left: 0px;
                    }
                }
            }
        }

        &__back-top {
            position: fixed;
            display: block;
            right: 20px;
            bottom: 30px;
            background-color: #23D3D3;
            padding: 15px 12px;
            border-radius: 4px;
            color: #333;
            -webkit-transition: 200ms;
            -moz-transition: 200ms;
            -o-transition: 200ms;
            transition: 200ms;
        }

    }
}
/* End Footer */
