.banner-intro {
    background-image: url('./assets/img/bg-intro.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;

    &__block-title {
        text-align: center;        

        h1 {
            color: #fff;
            font-weight: 700;
            padding-bottom: 20px;
            @include type-2(90);
        }
        p {
            color: rgba(255, 255, 255, 0.65);
            font-weight: 300;
            line-height: 30px;
            letter-spacing: 2.8px;
            text-transform: uppercase;
            @include type-1(25);
        }
    }

    &__arrow {
        display: flex;
        justify-content: center;

        i {
            position: absolute;
            bottom: -260px;
            font-size: 30px;
            color: rgba(234, 231, 225, 0.65);
            width:70px;
            height:70px;
            border: solid 2px rgba(234, 231, 225, 0.65);
            border-radius:100px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        }
    }
}

/* Diferenciais */
.diferenciais {
    padding: 30px 0 80px;
    background-color: #fff;

    .container {
        display: flex;
        align-items: center;
    }

    &__box {

        &__block {
            position: relative;

            &__absolut {
                position: absolute;
                width: 100%;
                margin: 0 auto;
                bottom: 0;
                background-image: linear-gradient(rgba(88, 89, 89, 0) 0%, rgba(88, 89, 89, 0.1) 60%,rgba(88, 89, 89, 0.65) 100%);
                background-color:rgba(0, 0, 0, 0);
                padding: 130px 0px;

                p {
                    position: absolute;
                    bottom: 30px;
                    text-align: center;                
                    color: #fff;
                    font-weight: 300;
                    width: 100%;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    @include type-1(17);
                }
            }

        }

    }

}
/* end Diferenciais */

/* Serviços */
.servicos {
    padding: 80px 0;
    &__subTitle {
        text-align: center;
        font-weight: 100;
        color: #a3a3a3;
        letter-spacing: 2.5px;
        line-height: 17px;
        padding-bottom: 10px;
        text-transform: uppercase;
        @include type-1(17);
    }

    &__title {
        text-align: center;
        color: #727475;
        text-transform: capitalize;
        font-weight: 700;
        line-height: 40px;
        padding-bottom: 60px;
        @include type-2(40);
    }

    &__column-left {
        img {
            // height: 75vh;
        }
    }

    &__column-right {
        border: solid 1px #f1f1f1;
        padding: 40px;
        padding-bottom: 15px;

        &__block-title {
            text-align: center;
            margin-bottom: 60px;

            p {
                color:#c4ab96 ;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 3px;
                padding-bottom: 10px;
                @include type-1(15);
            }
            h2 {
                color: #727475;
                font-weight: 400;
                text-transform: capitalize;
                @include type-2(25);
            }
        }

        .my-3 {
            margin: 30px 0;
        }

        .t {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 100%;

            .top {
                display: flex;
                justify-content: space-between;

                h3 {
                    position: relative;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: #727475;
                    @include type-2(16);
                }
                h3:after {
                    content: "";
                    display: inline-block;
                    border: dotted 2px#f1f1f1;
                    width: 295px;
                    margin-left: 18px;
                    position: absolute;
                    top: 12px;
                    left: 99px;
                }
                p {
                    color: #727475;
                    font-weight: 600;
                    font-size: 17px;
                    font-family: 'Playfair Display',sans-serif;
                }
            }

            .bottom {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                padding-top: 8px;

                &__description {
                    font-weight: 100;
                    color: #a3a3a3;
                    @include type-1(14);
                }

                &__new {
                    border-radius: 50px;
                    padding: 4px 11px;
                    color: #fff;
                    background-color: #c4ab96;
                    @include type-2(17);
                }
            }
        }
    }
}
/* end Serviços */

/* Prices */
.prices {
    background-image: url('http://www.nicdarkthemes.com/themes/beauty/wp/demo/massage/wp-content/uploads/sites/8/2017/02/parallax-4.jpg');
    background-position: center;
    // background-size: contain;
    padding: 100px 0;
    position: relative;

    .container {
        z-index: 1;
    }

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(101, 100, 96, 0.3);
        left: 0px;
        top: 0;
        z-index: 0;
    }

    &__subTitle {
        color: #fff;
        text-transform: uppercase;
        padding-bottom: 10px;
        font-weight: 100;
        text-align: center;
        @include type-1(17);
    }

    &__title {
        font-weight: 700;
        text-align: center;
        color:#fff;
        padding-bottom: 60px;
        @include type-2(40);
    }


    /* Boxs */
    &__box {
        background-color: #fff;
        // padding: 40px;
        border-radius: 25px;

        /* Box Escuro */
        .block-price-dark {
            background-color: #6D5149 !important;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;

            .subTitle {
                color: #fff !important;
            }

            .price {
                color: #fff !important;
            }

            .description {
                color: #fff !important;
            }
        }
        /* end Box Escuro */

        /* Preço */
        &__block-price {
            padding: 40px;

            .subTitle {
                color:#c4ab96;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 3px;
                padding-bottom: 7px;
                @include type-1(17);
            }

            .price {
                font-weight: 400;
                line-height: 45px;
                text-transform: uppercase;
                color: #727475;
                padding: 8px 0 20px;
                @include type-2(40);
            }

            .description {
                font-weight: 100;
                letter-spacing: 3px;
                text-transform: uppercase;
                color: #a3a3a3;
                @include type-1(13);
            }
        }
        /* end Preço */
        
        &__block-info {
            padding: 10px 40px;
            &__list {
                
                .item {
                    display: flex;
                    align-items: center;
                    border-bottom: solid 1px #f1f1f1;
                    padding-bottom: 5px;
                    padding-top: 7px;

                    img {
                        height: 12px;
                    }

                    .description {
                        padding-left: 10px;
                        color: #a3a3a3;
                        font-weight: 400;
                        line-height: 29px;
                        @include type-1(14);
                    }
                }
            }
        }

        &__block-footer {
            padding: 30px 40px 40px;
            .btn {
                color: #fff;
                display: block;
                padding: 10px;
                text-transform: uppercase;
                width: 35%;
                text-align: center;
                background-color: #c4ab96;
                border-radius: 50px;
                font-weight: 400;
                @include type-2(13);
            }

            .btn-dark {
                background-color: #6D5149;
                color: #fff;
                display: block;
                padding: 10px;
                text-transform: uppercase;
                width: 35%;
                text-align: center;
                border-radius: 50px;
                font-weight: 400;
                @include type-2(13);
            }
        }   
    }

    /* end Boxs */
}

/* end Prices */


/* Treatments */

.treatments {
    padding: 40px 0;

    &__block-title {
        padding-bottom: 80px;
        &__subTitle {
            color: #a3a3a3;
            padding-bottom: 10px;
            font-weight: 100;
            text-transform: uppercase;
            letter-spacing: 2px;
            line-height: 17px;
            text-align: center;
            @include type-1(17);
        }

        &__title {
            color: #727475;
            line-height: 40px;
            text-align: center;
            font-weight: 700;
            @include type-2(40);
        }
    }

    &__column-right {

        .item {

            .img {
                position: relative;
            
                .block-title {
                    position: absolute;
                    bottom: 0px;
                    text-transform: uppercase;
                    transition: all 0.7s;
                    left: 0px;
                    padding-left: 15px;
                    padding-bottom: 40px;
                    padding-top: 15px;
                    width: 100%;
                    color: #fff;
                    background: linear-gradient(to bottom, rgba(101,100,96,0) 0%,rgba(101,100,96,0.1) 60%,rgba(101,100,96,0.65) 100%);
                    background: -moz-linear-gradient(top, rgba(101,100,96,0) 0%, rgba(101,100,96,0.1) 60%, rgba(101,100,96,0.65) 100%);
                    background: -webkit-linear-gradient(top, rgba(101, 100, 96, 0) 0%, rgba(101, 100, 96, 0.51) 60%, rgb(101, 100, 96) 100%);
                    padding-top: 100px;

                    p {
                        font-weight: 100;
                        letter-spacing: 2.5px;
                        text-align: center;
                        @include type-1(17);
                    }
                }
            }
        }
    }
    &__column-center {

        .item {

            .img {
                position: relative;
            
                .block-title {
                    position: absolute;
                    bottom: 0px;
                    text-transform: uppercase;
                    transition: all 0.7s;
                    left: 0px;
                    padding-left: 15px;
                    padding-bottom: 40px;
                    padding-top: 15px;
                    width: 100%;
                    color: #fff;
                    background: linear-gradient(to bottom, rgba(101,100,96,0) 0%,rgba(101,100,96,0.1) 60%,rgba(101,100,96,0.65) 100%);
                    background: -moz-linear-gradient(top, rgba(101,100,96,0) 0%, rgba(101,100,96,0.1) 60%, rgba(101,100,96,0.65) 100%);
                    background: -webkit-linear-gradient(top, rgba(101, 100, 96, 0) 0%, rgba(101, 100, 96, 0.51) 60%, rgb(101, 100, 96) 100%);
                    padding-top: 100px;

                    p {
                        font-weight: 100;
                        letter-spacing: 2.5px;
                        text-align: center;
                        @include type-1(17);
                    }
                }
            }
        }
    }
    &__column-left {

        .item {

            .img {
                position: relative;
            
                .block-title {
                    position: absolute;
                    bottom: 0px;
                    text-transform: uppercase;
                    transition: all 0.7s;
                    left: 0px;
                    padding-left: 15px;
                    padding-bottom: 40px;
                    padding-top: 15px;
                    width: 100%;
                    color: #fff;
                    background: linear-gradient(to bottom, rgba(101,100,96,0) 0%,rgba(101,100,96,0.1) 60%,rgba(101,100,96,0.65) 100%);
                    background: -moz-linear-gradient(top, rgba(101,100,96,0) 0%, rgba(101,100,96,0.1) 60%, rgba(101,100,96,0.65) 100%);
                    background: -webkit-linear-gradient(top, rgba(101, 100, 96, 0) 0%, rgba(101, 100, 96, 0.51) 60%, rgb(101, 100, 96) 100%);
                    padding-top: 100px;

                    p {
                        font-weight: 100;
                        letter-spacing: 2.5px;
                        text-align: center;
                        @include type-1(17);
                    }
                }
            }
        }
    }
}

/* end Treatments */

/* Vantagens */
.vantagem {
    &__box {
        padding: 60px;
        border: none;
        border-right: solid 1px #f1f1f1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:last-child {
            border-right: none;
        }

        img {
            width: 70px;
            height: 70px;
        }

        p {
            font-weight: 100;
            line-height: 12px;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: #a3a3a3;
            padding-top: 20px;
            @include type-1(12);
        }
    }
}
/* end Vantagens */

/* CTA */
.cta {
    background-image: url('assets/img/bg-cta.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0 160px;
    background-color: #c4ab96;
    // background-position-y: 150px;
    position: relative;

    .container {
        z-index: 1;
    }

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(101, 100, 96, 0.3);
        left: 0px;
        top: 0;
        z-index: 0;
    }

    &__block-title {
        text-align: center;
        padding-bottom: 30px;

        &__title {
            z-index: 10;
            color: #fff;
            font-weight: 700;
            text-transform: initial;
            line-height: 50px;
            margin-bottom: 30px;
            text-align: center;
            @include type-2(50);
        }

        &__text {
            text-align: center;
            text-transform: uppercase;
            font-weight: 100;
            margin-bottom: 30px;
            color: #fff;
            line-height: 25px;
            letter-spacing: 3px;
            @include type-1(13);
        }

        &__btn {
            display: inline-block;
            margin: 0 auto;
            text-align: center;
            border-radius: 50px;
            padding: 15px 25px;
            color: #a3a3a3;
            background-color: #fff;
            text-transform: uppercase;
            font-weight: 400;
            line-height: 16px;
            @include type-2(16);
        }
    }
}
/* end CTA */

/* Funcionario */
.funcionario {
    position: relative;
    top: -100px;

    &__box {

        &__image {
            text-align: center;

            h3 {
                padding-top: 15px;
                font-weight: 700;
                color: #727475;
                padding-bottom: 10px;
                line-height: 25px;
                text-transform: capitalize;
                @include type-2(25);
            }

            p {
                line-height: 12px;
                color: #a3a3a3;
                letter-spacing: 3px;
                text-transform: uppercase;
                font-weight: 100;
                @include type-1(12);
            }
        }

        &__info {
            text-align: center;
            padding: 20px;

            &__description {
                color: #a3a3a3;
                font-weight: 400;
                line-height: 29px;
                @include type-1(15);
            }

            &__btn {
                display: inline-block;
                margin-top: 20px;
                padding: 7px 10px;
                color: #a3a3a3;
                font-weight: 400;
                line-height: 13px;
                background-color: transparent;
                border: solid 1.4px #d3d3d3;
                border-radius: 50px;
                text-transform: uppercase;
                @include type-2(13);
            }
        }
    }
}
/* end Funcionario */

/* Best Products */
.best-products {
    padding-bottom:80px;
    &__block-title {
        text-align: center;
        padding: 0 0 80px;

        p {
            color: #a3a3a3;
            text-transform: uppercase;
            font-weight: 100;
            letter-spacing: 2px;
            margin-bottom: 20px;
            @include type-1(17);
        }

        h2 {
            font-weight: 700;
            text-transform: capitalize;
            color: #727475;
            @include type-2(40);
        }
    }

    &__box {
        text-align: center;

        h3 {
            padding: 20px 0;
            color: #727475;
            font-weight: 400;
            line-height: 25px;
            @include type-2(25);
        }

        p {
            line-height: 15px;
            letter-spacing: 2px;
            font-weight: 700;
            color: #c4ab96;
            @include type-1(15);
        }
    }
}
/* end Best Products */

/* Formulario */
.formulario-rodape {
    background-image: url('assets/img/bg-form.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    padding: 100px 0;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        padding: 342px 0;
        background: -moz-linear-gradient(top, rgba(101,100,96,0.1) 0%, rgba(101,100,96,0.6) 60%, rgba(101,100,96,0.8) 100%);
        background: -webkit-linear-gradient(top, rgba(101,100,96,0.1) 0%,rgba(101,100,96,0.6) 60%,rgba(101,100,96,0.8) 100%);
        background: linear-gradient(to bottom, rgba(101,100,96,0.1) 0%,rgba(101,100,96,0.6) 60%,rgba(101,100,96,0.8) 100%);
    }

    .container {
        z-index: 1;
        display: flex;
        align-items: center;
    }

    &__block-title {
        text-align: center;

        p {
            color: #fff;
            line-height: 15px;
            font-weight: 100;
            padding-bottom: 10px;
            text-transform: uppercase;
            letter-spacing: 3px;
            @include type-1(15);
        }

        h2 {
            line-height: 60px;
            font-weight: 700;
            text-transform: capitalize;
            color: #fff;
            @include type-2(60);
        }

        &__list {
            display: flex;
            margin-top: 70px;

            li {

                
                p {
                    font-weight: 700;
                    color: #fff;
                    padding-bottom: 30px;
                    line-height: 30px;
                    text-align: center;
                    @include type-2(50);
                }

                a {
                    font-weight: 400;
                    color: #a3a3a3;
                    text-transform: uppercase;
                    line-height: 13px;
                    background-color: #fff;
                    display: inline-block;
                    padding: 6px 12px;
                    border-radius: 50px;
                    @include type-2(13);
                }
            }
        }
    }

    &__wrapper-form {
        background-color: #fff;
        padding: 40px 40px 60px;
        
     
        &__subTitle {
            color: #c4ab96;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: 700;
            padding-bottom: 10px;
            text-align: center;
            line-height: 15px;
            @include type-1(15);
        }

        &__title {
            color: #727475;
            text-transform: capitalize;
            line-height: 25px;
            font-weight: 400;
            text-align: center;
            padding-bottom: 50px;
            @include type-2(25);
        }

        /* Form */
        form {
            text-align: center;
            // margin: 0 40px;

            .grid-6 {
                margin: 0;
            }
            div {
                padding: 10px;
                width: 50%;
            }

            input {
               background-color: transparent; 
               border: none;
               width: 100%;
               padding: 10px;
               display: inline-block;
               border-bottom: solid 1px #f1f1f1;
               @include type-1(15);

               &::-webkit-input-placeholder{
                    color:#a3a3a3;
                    font-weight: 500;
                    @include type-1(15);                
                }
            }

           

            textarea {
                border: none;
                border-bottom: solid 1px #f1f1f1;
                display: block;
                padding: 10px;
                width: 96%;
                margin: 0 auto;

                &::-webkit-input-placeholder{
                    color:#a3a3a3;
                    font-weight: 500;
                    @include type-1(18);                
                }
            }

            button {
                color: #fff;
                text-transform: uppercase;
                width: 98%;
                display: block;
                border: none;
                margin-top: 20px;
                border-radius: 50px;
                padding: 15px 0;
                background-color: #6D5149;
                line-height: 15px;
                @include type-2(15);
            }

        }
        /* end Form */
    }
}
/* end Formulario */

/* Footer */
.footer {
    padding: 60px 0 0;

    &__box01 {
        h2 {
            font-weight: 700;
            color: #727475;
            padding-bottom: 30px;
            line-height: 20px;
            @include type-2(20);
        }

        p {
            color: #a3a3a3;
            font-weight: 400;
            padding-top: 20px;
            line-height: 30px;
            @include type-1(15);
        }
    }

    &__box02 {
        h2 {
            font-weight: 700;
            color: #727475;
            line-height: 20px;
            padding-bottom: 30px;
            text-transform: capitalize;
            @include type-2(20);
        }

        &__group {
            &__item {
                display: flex;
                align-items: center;
                
                &:nth-child(2) {
                    margin: 30px 0;
                }

                .image {
                    img {
                        width: 90px;
                        height: 90px;
                    }
                }

                .block-title {
                    display: flex;
                    flex-direction: column;
                    padding-left: 20px;

                    p {
                        color: #727475;
                        line-height: 29px;
                        font-weight: 400;
                        @include type-2(17);
                    }

                    span {
                        font-weight: 400;
                        color: #a3a3a3;
                        letter-spacing: 2px;
                        line-height: 29px;
                        @include type-1(14);
                    }
                }
            }
        }

    }

    &__box03 {
        h2 {
            font-weight: 700;
            color: #727475;
            line-height: 20px;
            padding-bottom: 30px;
            text-transform: capitalize;
            @include type-2(20);
        }

        &__group {
            &__item {
                display: flex;
                align-items: center;
                
                &:nth-child(2) {
                    margin: 30px 0;
                }

                .image {
                    img {
                        width: 90px;
                        height: 90px;
                    }
                }

                .block-title {
                    display: flex;
                    flex-direction: column;
                    padding-left: 20px;

                    p {
                        color: #727475;
                        line-height: 29px;
                        font-weight: 400;
                        @include type-2(17);
                    }

                    span {
                        font-weight: 400;
                        color: #a3a3a3;
                        letter-spacing: 2px;
                        line-height: 29px;
                        @include type-1(14);
                    }
                }
            }
        }

    }
}
/* Footer */

.redeSocial {
    // display: flex;
    // justify-content: space-between;
    width: 100%;
    margin-top: 40px;
    padding: 10px 0 20px;
    border-top: solid 1px #f1f1f1;

    &__copyright {
        color: #a3a3a3;
        font-weight: 400;
        @include type-1(15);
    }

    &__group {
        display: flex;
        justify-content: flex-end;

        li {
            
            &:nth-child(2){
                margin: 0 25px;
            }

            span {
                color: #a3a3a3;
                line-height: 14px;
                text-transform: uppercase;
                font-weight: 400;
                @include type-1(14);
            }

            i {
                color: #a3a3a3;
                margin-right: 5px;
            }
        }
    }
}